<header>
  <img class="background" src="//pizza-luvrs-irxxx.s3.eu-west-1.amazonaws.com/header.png" />
  <a href="/"><img class="logo" src="//pizza-luvrs-irxxx.s3.eu-west-1.amazonaws.com/logo_header.png" /></a>
  <div class="user">
    {{#if auth.isAuthenticated}}
      Hi <a href="/user">{{auth.credentials.user.username}}</a>!&nbsp;&nbsp;
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </div>
</header>
